<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kulimagoldapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KulimaGoldApplication">
        <activity android:name=".AdminSigninActivity" />
        <activity android:name=".CookingOilActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".ItemsSelectedActivity" />
        <activity android:name=".ShowDetailsActivity" />
        <activity android:name=".SoyapiecesActivity" />
        <activity android:name=".OrangecidesActivity" />
        <activity android:name=".OthersActivity" />
        <activity android:name=".PesticidesActivity" />
        <activity android:name=".SeedsActivity" />
        <activity android:name=".FoodItemsActvity" />
        <activity android:name=".CustomerRegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CustomerSigninActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>